# Build Folders #
bin/
build/
lib/
target/
gen/

.externalToolBuilders/
 # Eclipse Files #
*.project
*.classpath
*.prefs
/.apt_generated/
*.factorypath

# Gradle
.gradle
.gradletasknamecache

# Netbeans
/.nb-gradle/

# IntelliJ
.idea/
*.iml
/dllibsc/
/dllibss/
